{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <title>Register - My Shop</title>
</head>
<body>
    <header>
        <h1>Register</h1>
    </header>
    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div>
                <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                {{ form.username }}
                {{ form.username.errors }}
            </div>
            <div>
                <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                {{ form.email }}
                {{ form.email.errors }}
            </div>
            <div>
                <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
                {{ form.password1 }}
                {{ form.password1.errors }}
            </div>
            <div>
                <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
                {{ form.password2 }}
                {{ form.password2.errors }}
            </div>
            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="{% url 'Login' %}">Login here</a>.</p>
    </div>
</body>
</html>
